a {
	text-align:center;
	font-family: 'SubFont2';
}

a:link {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover {color:silver; background-color:transparent; text-decoration:none; transition: all ease 100ms}
a:active {color:white; background-color:transparent; text-decoration:none}

@font-face {
    font-family: "SubFont";
    src: url("../alt/SubFont.ttf");
}

@font-face {
    font-family: "SubFont2";
    src: url("../alt/SubFont2.ttf");
}

#nav {
    font-size: 3.6em;
	padding: 5px;
}

div.logo {
	display: inline-block;
    position: relative;
}

div.nav {
	display: inline-block;
    position: relative;
}

* {
	text-shadow: 0px 0px 4px black;
}
