img.comicprev {
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
  transition: .5s;
  cursor: pointer;
}
img.comicprev:hover {
  opacity: .8
}
img#comic {
  width: 800px;
  border-radius: 15px;
  border: 5px solid white;
}
div#comicspick {
  text-align: center;
}
p.comictitle {
  display: inline-block;
  color: white;
  font-family: Kalam;
  font-size: 2em;
  margin: 5px;
  font-weight: bold;
  text-shadow: black 0 0 5px;
  cursor: pointer;
  transition: .5s
}
p.comictitle:hover {
  color: black;
  text-shadow: white 0 0 5px;
}
div.creditimg img {
  width: 1000px;
  border-radius: 25px;
  border: black solid 5px;
}
div#header2 {
  height: 1900px;
}
div#header3 {
  height: 1100px
}
div#header3 img#norm {
  width: 350px
}
img#aunt {
  height: 500px
}
img#direct {
  height: 480px
}
p.contact{
  font-family: Kalam;
  color: black;
  font-size: 2em
}
p.contact a {
  font-family: Kalam;
  color: #0052AE;
  transition: .25s
}
